@import "./defindeVar.scss";
@import "./reset.scss";

@import "./page/header.scss";
@import "./page/appHome.scss";

.page-content{
  min-height: $content-min-height;
  overflow-y: auto;
  margin: 0 auto;
}
