@import "./defindeVar.scss";
@import "./reset.scss";

@import "./page/header.scss";
@import "./page/appHome.scss";
@import "./font.scss";

html{
  height: 100%;
}
body{
  background: $big-background-color;
  min-height: 100%;
}