.main-panel{
  //padding-top: 44px;
  height: 1500px;
}
.main-screen{
  background: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ani-img{
  font-family: 'fz';
  color: #fff;
  font-size: 30px;
  text-align: center;
  position: relative;
  width: 400px;
  height: 400px;
}

.main-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%,-50%)  rotate(-90deg) ;
  stroke-linecap: round;
  stroke-width: 3;
  fill: none;
  .external-circle {
    stroke: #fff;
    stroke-dashoffset: 0;
    transform-origin: center;
  }


  .external-circle {
    stroke-dasharray: 312;
    animation: external 3s linear infinite;
    opacity: .9;
  }
}




@keyframes external {
  0% {
    stroke-dashoffset: 312;
    transform: rotate(0deg);
  }
  60% {
    stroke-dashoffset: -312;
  }
  100% {
    stroke-dashoffset: -312;
    transform: rotate(360deg);
  }
}

