.main-panel{
  //padding-top: 44px;
  height: 1500px;
}
.main-screen{
  background: $main-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.fade-out{
    transition: all .5s;
    transform: translateY(-100%);
  }
}

.ani-img{
  font-family: 'fz';
  color: #fff;
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 400px;
}

.main-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%,-50%);
  &::after,&::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;

  }
  &::before {
    border: 2px solid transparent; // We're animating border-color again
      //transition:
      //        border-top-color 0.15s linear, // Stagger border appearances
      //        border-right-color 0.15s linear 0.10s,
      //        border-bottom-color 0.15s linear 0.20s;
  }
  &:after{
    border-top: 2px solid $content-bg;
  }

  //&:hover::before {
  //  border-top-color: $content-bg; // Show borders
  //  border-right-color: $content-bg;
  //  border-bottom-color: $content-bg;
  //
  //  transition:
  //          border-top-color 0.15s linear, // Stagger border appearances
  //          border-right-color 0.15s linear 0.10s,
  //          border-bottom-color 0.15s linear 0.20s;
  //}
  //&:hover::after {
  //  border-top: 2px solid $content-bg; // Shows border
  //  border-left-width: 2px; // Solid edges, invisible borders
  //  border-right-width: 2px; // Solid edges, invisible borders
  //  transform: rotate(270deg); // Rotate around circle
  //  transition:
  //          transform 0.4s linear 0s,
  //          border-left-width 0s linear 0.35s; // Solid edge post-rotation
  //}
}

